body{
  background-image: url("https://img3.goodfon.com/wallpaper/nbig/3/53/8bit-vremya-sutki-utro-solnce.jpg");
}

@font-face {
  font-family: EndlessBossBattleRegular;
  src: url("./Fonts/EndlessBossBattleRegular-v7Ey.ttf") format("truetype")
}

header{
  display: flex;
  justify-content: center;
}

#h1-title{
  text-align: center;
  font-size: 64px;
  font-family: EndlessBossBattleRegular;
  color:rebeccapurple;
  border: 2px dashed midnightblue;
  padding: 14px 8px 4px 12px;
  margin-top: 15px
}

.zip-code-div{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.zip-code-form > *{
  border-color:rgb(91, 147, 247);
  outline: none;
}

#zip-code-button{
  background-color: rgb(91, 147, 247);
  color: rebeccapurple;
  border-color:rgb(91, 147, 247);
  border: 0.1px 2px 0px 2px;
  border-radius: 0.4px;
}

#zip-code-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#zip-code-button:active{
  background-color: rgb(91, 147, 247);
  border-color:rgb(91, 147, 247);
}

.current-weather-container{
  display: flex;
  flex-direction: column;
  padding-left: 275px;
  padding-right: 200px;
  justify-content: center;
  height: 175px;
  font-family: EndlessBossBattleRegular;
  color: rgb(206, 197, 78);
}


.weather-card{
  width: 550px;
  border: 1px dashed midnightblue;
  text-align: center;
}


.current-location-p{
  font-size: 28px;
  margin: 5px;
  padding: 5px 0px 3px 0px
  
}

.temp-p{
  font-size: 44px;
  margin: 1px
}

.weather-photo{
  margin: 3px;
  height: 105px;
  width: 100px
}

.weather-p{
  margin: 2px;
  font-size: 32px;
}

.forecast-div{
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  padding-top: 25px;
  padding-left: 250px;
  padding-right: 200px;
}

.forecast-header{
  padding: 10px 20px 0px 20px;
  margin-right: 15px;
  margin-bottom: 75px;
  text-align: center;
  font-size: 52px;
  font-family: EndlessBossBattleRegular;
  color: rebeccapurple;
  border: 1.75px dashed midnightblue;
}

.forecast-cards-div{
  display: flex;
  justify-content: space-between;
}

.forecast-card{
  width: 167px;
  height: 250px;
  margin-top: 38px;
  margin-right: 4px;
  text-align: center;
  font-size: 20px;
  color: midnightblue;
  border: 1.5px dashed midnightblue;
  font-family: EndlessBossBattleRegular;
}

.forecast-weather-photo{
  height: 90px;
  width: 90px;
  margin: 4px;
}

.forecast-weather-p{
  margin: 4px;
}
